body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

div {
    display: flex;
    border: 2px solid black;
}

#game-box {
    flex-direction: column;
    justify-content: space-between;
    width: 720px;
    height: 600px;
    border-width: 4px;
    border-color: rgb(171, 161, 132) rgb(171, 161, 132) rgb(55, 50, 34) rgb(55, 50, 34);
    background-color: rgb(134, 119, 100);
    align-items: center;
    padding: 20px;
    user-select: none;
}

#arena {
    width: 720px;
    flex-direction: row;
    justify-content: space-between;
    border-color: black;
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-color: olivedrab;
    background-image: linear-gradient(to bottom, midnightblue,skyblue);
    padding: 20px 0;
}

.player-box {
    flex-direction: column;
    margin: 0 20px;
    z-index: 10;
}

.hp-box {
    flex-direction: column;
    background-color:darkseagreen;
    border-color: aquamarine aquamarine seagreen seagreen;
}

.hp-bar {
    width: 200px;
    height: 10px;
    margin: 2px;
    background-color: darkred;
    border-radius: 3px;
}

.hp-text {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.grass {
    position: absolute;
    transform: translate(0, 250px);
}

.hp-val {
    flex-direction: row;
    height: inherit;
    border: none;
    
    border-radius: 1px;
}

strong {
    font-weight: 900;
    color:rgb(44, 83, 7);
    z-index: 9;
}

#p1-box {
    border-color:rgba(0, 255, 255, 0.0);
    .hp-bar {
        justify-content: start;
    }
    .hp-val {
        background-color: chartreuse;
    }
}

#p2-box {
    border-color:rgba(220, 20, 60, 0.0);
    .hp-bar {
        justify-content: end;
    }
    .hp-val {
        background-color: darkmagenta;
    }
}


img {
    pointer-events: none;
}

.fiery {
    color: firebrick;
}

#text-boxes {
    margin: 0;
    border-color:black;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    width: 720px;
    height: 200px;
    padding: 0px;
}

button {
    width: 354px;
    height: 92px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0;
    margin: 0;
    border-width: 2px;
    border-radius: 15px;
    background-color: hsl(35, 27%, 58%);
    
}
button:hover {
    background-color:hsl(35 22 46);
    background-color:hsl(35 25% 61);
    p {
        color: rgb(55, 50, 34);
    }
    h2 {
        color:rgb(55, 50, 34);
    }
    .fiery {
        color: rgb(199, 41, 41);
    }
}
button:active {
    background-color:hsl(35 25 61);
    background-color:hsl(35, 22%, 46%);
    p {
        color: beige;
    }
    h2 {
        color: beige;
    }
    .fiery {
        color: rgb(233, 36, 36);
    }
}

#op-1{
    margin: 4px 2px 2px 4px;
}

#op-2{
    margin: 4px 4px 2px 2px;
}

#op-3{
    margin: 2px 2px 4px 4px;
}

#op-4{
    margin: 2px 4px 4px 2px;
}

#d-log-box {
    border-width: 2px;
    background-color: rgb(134, 119, 100);
    width: 700px;
    padding: 10px;
    font-weight: bold;
    position: absolute;
    transform: translate( 0px, 298px);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .first-line {
        align-self: flex-start;
        margin: 0;
    }
    .mid-line {
        margin: 0
    }
    .last-line {
        align-self: flex-end;
        margin: 0
    }
}
.d-log-box-a {
    height: 278px;
    h1 {
        position: absolute;
        transform-origin: translate(50%);
        transform: translate(0, 100px);
    }
}
.d-log-box-b {
    height: 76px;
}